
body { 
    background-color: aqua;
    color: black
    font-family ;
    max-width: 1280px;
    margin: 0 auto;

}
h1 {
    text-align: center;
    font-size: 40px;
    margin-top: 20px;
    color: rgb(63, 61, 61);
    text-transform: uppercase;
    font-weight: bold;
}

#game-container {
    border-style: solid;
    border-width: 3px;
    border-color: indigo;
    padding: 12px;
    border-radius: 8px;
    display: inline-block;
    width: 60%;
}

.numbers {
    background-color: honeydew;
    display: inline-block;
    width: 12.5%;
    min-height: 64px;
    text-align: center;
    padding-top: 32px;
    font-size: x-large;
    border-color:hotpink;
    border-width: 2px;
    margin: 3px;
    border-radius: 10px;
    cursor: pointer;

     
}